.description {
    display: flex;
    flex-direction: column;
    height: 18.75rem;
    line-height: 1.5;
    margin-left: 30px;
    margin-top: 1.875rem;
    padding-left: 10px;
    width: 18.75rem;
}