body{
   

}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #2ebaef;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

/* nav syle */

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-home {
    width: 100%;
    height: 600px;
    background-image: url(../img/bg-home.png);
    background-size: cover;

    
}

.fadeout:hover {
    transition: 4s;
    background: rgba(0, 0, 0, .6)
        url(../img/bg-home.png);
        background-blend-mode: darken;
        background-size: cover;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}


.nav ul {
    display: flex;
}

.nav ul li {
    padding: 0px 30px 0px 0px;
    font-size: 20px;
    
}

/* wrapper-center style*/

.wrapper-center {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.main-phrase { 
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
}

.second-phrase p{
    margin-bottom: 35px;
    color: white;
    font-size: 20px;
}

.blue {
    color: #2ebaef; 
}

.button :focus {
    outline: none;
}

.button :hover {
    cursor: pointer;
}

.button button {
    width: 160px;
    height: 35px;
    color: white;
    background-color: #2ebaef;
    border-radius: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

/* End wrapper center style */

/* Start services style */

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}

.our-services {
    font-size: 35px;
    width: 100%;
    height: 90px;
}

.wrapper-service {
    height: 800px;
    
}

.container-services {
    display: flex;
    margin-top: 60px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
    
}

.service-box {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.service-box img {
    width: 40px;
    height: 40px;
}

.service-box h3 {
    padding-top: 20px;
    font-size: 18px;
}

.service-box p {
    color: #767676;
    font-size: 14px;
}

.button button{
    margin-top: 50px;
}