.info__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/img/bg-portfolio.png);
    height: 25rem;
    width: 50%;
}