.wrapper-home {
    background: url(/assets/img/bg-home.png) no-repeat center / cover;
    height: 100vh;
    width: 100%; 
    
}

.wrapper-home:hover {
    background: rgba(0, 0, 0, .6) url(/assets/img/bg-home.png) center / cover;
    background-blend-mode: darken;
    transition-timing-function: ease-in-out;
    transition: 4s;     
}

